customtkinter==6.0.0
darkdetect==0.8.0
ezdxf==1.4.4
greenlet==3.5.4
numpy==2.5.1
packaging==26.3
pandas==3.0.5
pymupdf==1.28.0
python-dateutil==2.9.0.post0
six==1.17.0
SQLAlchemy==2.0.51
typing_extensions==4.16.0
tzdata==2026.3
